<html>
  <head>
  <script src="https://js.pay.jp/" type="text/javascript"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://js.pay.jp/" type="text/javascript"></script>
  <script src="https://www.google.com/recaptcha/api.js?hl=ja"></script>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <title>nodomi's portfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  </title>
 
  </head>

  <body>
    <div class='side-bar'>
      <div class='home-s'>
        <a href="#home">
          <i class="fas fa-home fa-2x"></i>
        </a>  
      </div>
      <div class='user-s'>
        <a href="#profile">
          <i class="far fa-user fa-2x"></i>
        </a>  
      </div>
      <div class='folder-s'>
        <a href="#works">
          <i class="far fa-folder fa-2x"></i>
        </a>  
      </div>
      <div class='envelope-s'>
        <a href="mailto:f67.nodomi.naoto@gmail.com">
          <i class="far fa-envelope fa-2x"></i>
        </a>    
      </div>
      <div class='twitter-s'>
        <a target="_blank">
          
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <div class="twi"><p>coming soon!</p></div>
      </div>
      <div class='github-s'>
        <a href="https://github.com/n-domi" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </div>

    <div class='main'>
      <header class="header" id="home">
      </header>
      
      <section class="about" id="profile">
        <h2 class="heading">PROFILE</h2>
        <p class="about-text">
          <p class="about-text__profile">
            １９９９年生まれ<br>
            趣味：バイク、読書、筋トレ<br>
          </p>

          <p class="about-text__learning">
            2019/12/9 〜 TECH EXPERTにてプログラミングの学習開始<br>
            【TECH::EXPERTでの学習経験】<br>
            Ruby on Rails、Javascriptを用いたフルスクラッチのアプリケーション開発及びAWSを用いたデプロイ<br>

            【開発実績】<br>
            Haml・SCSS・Ruby・Ruby on Rails・JavaScript・jQuery・
            GitHub・AWS等の技術を用いた複合的機能の企画・実装<br>
            ①Chat-Space（チャットアプリケーション）<br>
            ②既存サービスのクローンサイトを開発<br>
            ③スクラムによるアジャイル開発<br>
          </p>
          <p class="about-text__learning-now">
            現在はPHPの学習をメインに、photoshop や Javascript などの勉強を行なっております。
          </p>
          <p class="about-text__learning-now">
            【将来的な目標】<br>
            Web制作において、コーディング、デザイン、プログラミングをマルチにこなせる人材。
          </p>
        </p>
      </section>

      <section class="works" id="works">
        <h2 class="heading head-myworks">MY WORKS</h2>
        <div class="works-wrapper">

          <div class="work-box one">
            <img class="work-image" src="https://i.gyazo.com/1d0966c173d6e00a1a4c4933cb0c5236.jpg" width="100%" height="50%">
            <div class="work-description">
              <b>フリマサイト</b><br><br>メルカリのクローンサイト<br><br><a href="https://docs.google.com/document/d/1Fne-0oF8w2CEYh6v2Y7hakGMtNMadM-gG8P38uXV6oU/edit?usp=sharing" target="_blank" class="deco">担当箇所←</a><br><br>
              <a href="http://3.114.88.190/" target="_blank" class="button button-ghost">PAGE</a>
              <a href="https://github.com/n-domi/freemarket_sample_67d" target="_blank" class="button button-ghost">github</a>
            </div>
          </div>

          <div class="work-box two">
            <img class="work-image" src="https://i.gyazo.com/a6f4e326914093e7d50ad9df837d6c1a.png" width="100%" height="50%">
            <div class="work-description">
              <b>ChatSpace</b><br><br>チャットアプリ<br><br><br><br>
              <a href="http://52.196.29.147/" class="button button-ghost" target="_blank">PAGE</a>
              <a href="https://github.com/n-domi/chat-space" target="_blank" class="button button-ghost">github</a>
            </div>
          </div>

          <div class="work-box three">
            <img class="work-image" src="https://i.gyazo.com/82eaf4fdce3259b4758e6fe2266c30f7.png" width="100%" height="50%">
            <div class="work-description"> 
              <b>Health care</b><br><br>ヘルスケアアプリ<br><br><br><br>
              <a href="https://rocky-depths-03246.herokuapp.com/" target="_blank" class="button button-ghost">PAGE</a>
              <a href="https://github.com/n-domi/Healthcare" target="_blank" class="button button-ghost">github</a>
            </div>
          </div>

          <div class="work-box four">
            <%# <video class="work-image" src="https://i.gyazo.com/1155f7fa690301df1e985ec315634a34.mp4" autoplay width="100%" height="50%"> %>
            <video muted src="https://i.gyazo.com/ee01fd563a6506d6ecdc6d1c9ada02ce.mp4" autoplay loop width="100%" height="50%"></video>
            <div class="work-description"> 
              <b>COOING</b><br><br>会社のHPです<br><br><br><br>
              <a href="https://cooing.herokuapp.com/" target="_blank" class="button button-ghost">PAGE</a>
              <a href="https://github.com/n-domi/cooing" target="_blank" class="button button-ghost">github</a>
            </div>
          </div>

        </div>
      </section>

    </div>
  </body>
</html>