body {
  width: 100vw;
  display: flex;
}

.side-bar {
  padding-top: 50px;
  height:calc(100vh - 50px);
  position: sticky;
  top: 0px;
  width: 70px;
}

div.home-s,div.user-s,div.folder-s,div.envelope-s,div.twitter-s,div.github-s{
  height: calc( 100% / 6);
  text-align: center;
}

.main {
  overflow: scroll;
  margin-right: 0px;
  width: calc( 100% - 70px);
}

header,section {
  height: 100vh;
  width: calc( 100vw - 70px);
}

header {
  background-image: url("https://i.gyazo.com/01ae6cfc0c31b375a4fa58a44dcdbf7a.png");
  background-size: contain;
}

.about{
  height:100vh;
  min-height:700px;
  background-color:#ffffff;
  color:#333;
}
.about-text{
  width:100%;
}
.about-text__profile,.about-text__learning,.about-text__learning-now{
  width:70%;
  margin:30px auto;
  line-height:1.5;
  text-align:left;
  font-size:16px;
}
.heading{
  padding-top: 80px;
  display:inline-block;
  padding-bottom:15px;
  letter-spacing:2px;
  font-size:4rem;
  border-bottom:double 4px #999;
  display: block;
  text-align: center;
}

*{
  font-family:Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif；;
}

h2,p{
  margin:0;
  padding:0;
}

h2{
  font-size:100%;
  font-weight:normal;
}

.works {
  background-color: #2f2f2f;
  background-color: black;
}

.head-myworks {
  color: #ffffff;
}

.works-wrapper {
  width: 100%;
  margin: 0px;
  display: flex;
}

.work-box {
  width: 280px;
  margin: 33px;
  background-color:rgb(255, 255, 255);
  height: 360px;
}

.work-description {
  text-align: center;
  margin-top: 10px;
  line-height: 20px;
}

.button-ghost {
  border: 2px solid rgb(3, 3, 3);
  padding: 3px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.deco {
  text-decoration: underline;
}

i:hover:before{
  color: rgba(128, 128, 128, 0.479);
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* .twi {
  position: absolute;
  top: 10px;
  left: 100px;
  background-color: white;
} */
.twitter-s:hover .twi {
  display: block;
}


.twi {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  /* min-width: 120px;
  max-width: 100%; */
  width: 130px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  top: -50%;
  left: 75%;
  display: none;
}

.twi:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
  
}

.twi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -27px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 16px solid #555;
  z-index: 1;
  float: left;
  
}

.twi p {
  margin: 0;
  padding: 0;
}